[user]
	name = Josh Sixsmith
	email = josh.sixsmith@gmail.com
[core]
	editor = vim
[color]
        diff = auto
        status = auto
        branch = auto
[format]
        pretty = "Commit:  %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%n%n%b"

[push]
	default = simple
